html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.body {
    font-family: "Montserrat", serif;
    background-color: rgb(238, 237, 237);
    max-width: 1000px;
    margin: auto;
    padding: 60px;
}

.header {
    margin: 10px;
    font-size: 170%;
}

.input {
    padding-left: 10px;
    height: 40px;
    border: solid 2px rgb(236, 236, 236);
}