html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.body {
    font-family: "Montserrat", serif;
    background-color: rgb(238, 237, 237);
    max-width: 1000px;
    margin: auto;
    padding: 60px;
}

.header {
    margin: 40px 40px 20px 0px;
    font-size: 170%;
}

.block {
    margin-bottom: 5px;
    background-color: white;
    border: solid 0.5px rgb(224, 224, 224);
    border-collapse: collapse;
}

.block__header {
    height: 35px;
    padding-left: 15px;
    background-color: white;
    border-bottom: solid 0.5px rgb(224, 224, 224);
    border-collapse: collapse;
    font-size: 110%;
}

.block__addTask {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

.button__addTask {
    height: 40px;
    color: white;
    background-color: teal;
    border: none;
    cursor: pointer;
}

.button__addTask:hover {
    background-color: rgba(0, 128, 128, 0.8);
}

.button__addTask:active {
    background-color: rgba(3, 158, 158, 0.8);
}

.button__check {
    aspect-ratio: 1 / 1;
    height: 24px;
    border: none;
    text-align: center;
    color: green;
    background-color: green;
    cursor: pointer;
}


.button__check:hover {
    background-color: rgba(0, 128, 0, 0.8);
}

.button__check:active {
    background-color: rgba(6, 172, 6, 0.8);
}

.button__check--done {
    color: white;
}

.button__remove {
    aspect-ratio: 1 / 1;
    height: 24px;
    border: none;
    text-align: center;
    color: rgb(255, 220, 220);
    background-color: red;
    cursor: pointer;
}

.button__remove:hover {
    background-color: rgb(241, 107, 107);
}

.button__remove:active {
    background-color: rgb(235, 135, 135);
}

.list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    list-style-type: none;
    align-items: center;
}

.list__item {
    border-bottom: solid 0.5px rgb(224, 224, 224);
    margin: 0 20px 15px 20px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
}

.list__content {
    word-break: break-word;
}

.list__content--done {
    text-decoration: line-through;
}

@media (max-width: 767px) {
    .block__addTask {
        grid-template-columns: 1fr;
    }
}